<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chancorp.tabactivity" >

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name = "android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_rev5"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chancorp.tabactivity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_EasterEgg" />
        <activity android:name=".Activity_add_router" />
        <activity android:name="com.chancorp.tabactivity.Activity_List_of_router"/>
        <activity android:name="com.chancorp.tabactivity.Activity_Lockscreen" />
        <service android:name=".Service_WifiStateChange"/>
        <activity android:name =".Page5Settings"/>
        <receiver android:name=".Receiver_WifiStateChange">
            <intent-filter>
                <action android:name = "action"/>
            </intent-filter>
        </receiver>
        <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
    </application>

</manifest>
