<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chancorp.tabactivity" >

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name = "android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_rev5"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.chancorp.tabactivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionTabStyle"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EasterEggActivity" />

        <activity android:name=".InitialActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".AddrouterActivity"
            android:label="공유기 추가" />

        <activity android:name=".ListofrouterActivity"
            android:label="공유기 목록"/>

        <activity android:name=".LockscreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity android:name =".Page5Settings"
            android:label="환경설정"
            android:theme="@style/Settings"/>

        <activity android:name=".GetaccountActivity"
            android:label="계정 정보"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>

        <activity android:name=".CopyrightActivity"
            android:label="저작권 정보"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>

        <service android:name=".Service_WifiStateChange"/>

        <receiver android:name=".Receiver_WifiStateChange">
            <intent-filter>
                <action android:name = "action"/>
            </intent-filter>
        </receiver>

        <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />

    </application>

</manifest>